@import "tailwindcss";
:root {
  --color-primary: "#53A57D";
}
.dark {
  --color-primary: "#53A57D";
}

body {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
